.ModalBackgraund {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 203;
  overflow: hidden;
}

.ModalWin {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 0px;
  border: 1px solid #888;
  width: 70rem;
  height: 30rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.35), 0 10px 10px rgba(0, 0, 0, 0.32);
}

.ModalBtnClose {
  width: 28px;
  height: 28px;
  color: rgb(230, 66, 66);
  float: right;
  text-align: center;
  vertical-align: middle;
  font-size: 28px;
  font-weight: bold;
  margin-top: 3px;
  margin-right: 3px;
  top: 0;
  background: rgb(198, 217, 241);
}
.ModalBtnClose svg {
  display: block;
  top: 0;
}

.ModalHead {
  width: 100%;
  height: 2rem;

  background: rgb(198, 217, 241);
}

.ModalBtnClose:hover,
.ModalBtnClose:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}
