.Drawer {
  position: fixed;
  right: 0px;
  top: 10px;
  bottom: 10px;
  width: 80%;
  max-width: 325px;
  box-sizing: border-box;
  transform: translateX(0px);
  transition: transform 0.4s ease-in;
  z-index: 90;
  display: flex;
}

.Drawer.close {
  transform: translateX(295px);
}

.Drawer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Drawer li {
  margin-bottom: 15px;
}

.bookmark {
  width: 30px;
  height: 60px;
  margin-top: 20px;
  background: rgb(240, 240, 240);
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 10px 0 0 10px;
  opacity: 0.5;
}

.slideBody {
  width: 100%;
  height: 100%;
  padding: 10px 10px 15px 0;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 10px 0 0 10px;
  background: rgb(240, 240, 240);
}
