/* Облать легенды*/

.legend_box {
  overflow: hidden;
  max-width: 250px;
  /* min-height: 200px; */
  /* min-width: 250px; */
  /* height: 200px; */
  /* width: 100%; */

  /* border: 1px solid blue; */
  
}

/* Область характеристики региона */
.spec_box {
  overflow: hidden;
  max-width: 250px;
  /* min-height: 200px; */
  /* min-width: 250px; */
  /* height: 200px; */
  /*width: 100%*/
  /* margin-bottom: 10px; */

  /* border: 1px solid green; */
}
