.Weather {
  position: absolute;
  z-index: 50;
  border: 1px solid grey;
  border-radius: 3px;
  /* width: 350px; */
  /* height: 280px; */
  padding: 7px;
  background-color: rgb(221, 219, 195);
  visibility: hidden;
}
.WeatherBtnClose {
  width: 28px;
  height: 28px;
  color: black;
  float: right;
  text-align: center;
  vertical-align: middle;
  font-size: 8px;
  font-weight: bold;
  margin-top: 3px;
  margin-right: 3px;
  top: 0;
}
.WeatherBtnClose svg {
  display: block;
  top: 0;
}

.textRed {
  color: red;
  font-size: 18px;
  padding-top: 0px;
  /* padding-left: 10px; */
}

.textText {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  color: black;
  font-size: 12px;
  /* font-weight: 650; */
  line-height: 10px;
  padding-top: 0px;
  /* padding-left: 10px; */
}

header {
  font-size: 10px;
}

.Weather h2 {
  color: blue;
}
