/* стиль карты */
svg {
  width: 100%;
  height: 100%;
  cursor: default;
}
.tools {
  width: 125px;
  height: 30px;
  position: absolute;
  z-index: 1;
  cursor: default;
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.tools-button {
  display: block;
  width: 28px;
  height: 28px;
  border: 1px solid gray;
  border-radius: 3px;
  background: rgba(217, 217, 217, 0.5);
  margin-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storm-icon {
  --fill-icon: #bc00ff;
}

.storm-icon:hover {
  --fill-icon: #f06bb8;
}

/*fill="#375AF6"  sdpm_2305 */
g[id^="sdpm_"] {
  --fill-sdpm-blue: #375af6;
}

g[id^="sdpm_"]:focus {
  --fill-sdpm-blue: #a7b3e7;
}
.pointer {
  color: rgb(170, 20, 20);
}
.gps {
  color: rgb(50, 4, 216);
}
